:root {
	--content-bd: 1px solid rgba(89, 91, 103, 0.446);
	--content-rd: 20px;
	--content-bg: #223842;
	--action-bg: #4797de;
}

* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	max-width: 1024px;
	margin: 0 auto;
	background-color: #393f49;
}

header, main {
	margin: 0 30px;
	border: var(--content-bd);
}

header {
	display: grid;
	justify-items: center;
	gap: 30px;
	position: relative;
	margin-bottom: 45px;
	padding: 30px 0 45px;
	border-bottom-left-radius: var(--content-rd);
	border-bottom-right-radius: var(--content-rd);
	background-color: var(--content-bg);
}
header h1.title {
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
}
header nav.actions {
	display: flex;
	gap: inherit;
	position: absolute;
	bottom: calc(45% / -2);
}
header nav.actions > div {
	width: 60px;
	height: 60px;
	border-radius: 50px;
	text-align: center;
	background-color: #465055;
}
header nav.actions > div > i {
	width: 100%;
	height: 100%;
	align-content: center;
	font-size: 30px;
	color: #bdbebe;
}
header nav.actions div.active-btn {
	background-color: var(--action-bg);
	cursor: pointer;
}
header nav.actions div.active-btn > i {
	color: #fff;
}

.swal2-input {
	text-transform: capitalize;
}
select.swal2-input {
	width: 292.367px;
	margin-top: .95em;
	padding: 0 .75em;
	border: 1px solid #d9d9d9;
	border-radius: .1875em;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.06),0 0 0 3px rgba(0,0,0,0);
	font-size: 1.125em;
	background-color: #fff;
}

main {
	border-radius: var(--content-rd);
	overflow: hidden;
}
main > table {
	width: 100%;
	border-spacing: 0;
}
main > table tr {
	text-align: center;
}
main > table tr > th,
main > table tr > td {
	padding: 10px 10px;
	font-size: 23px;
	color: #fff;
}
main > table tr:first-child {
	background-color: var(--content-bg);
}
main > table tr:first-child > th {
	border-bottom: var(--content-bd);
	text-transform: uppercase;
}
main > table tr.row {
	background-color: #fff;
	cursor: pointer;
}
main > table tr.row:nth-child(even) {
	background-color: var(--content-bg);
}
main > table tr.row > td {
	text-transform: capitalize;
	color: #000;
}
main > table tr.row:nth-child(even) > td {
	color: #fff;
}
main > table tr.active-row {
	background-color: var(--action-bg) !important;
}
main > table tr.active-row > td {
	color: #fff;
}